<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  </head>
  <body>
    <!-- -------------------------- html section ------------------------------------- -->

    <!-- -------------------------- html section ------------------------------------- -->

    <div id="app">
      <div>
        <div class="add-edit-form">
          <!-- ----------------------- Add form --------------------- -->

          <div>
            <h3>Add Form</h3>

            <form v-on:submit.prevent="send">
              <div>
                <!-- --------------------- es class items ------------------------ -->
                <div>
                  <select name="" id="" style="width: 177px" v-model="es_class">
                    <option value="provisioning">Provisioning</option>
                    <option value="regulating">Regulating</option>
                    <option value="supporting">Supporting</option>
                    <option value="cultural">Cultural</option>
                  </select>
                </div>

                <!-- --------------------- es class items ------------------------ -->

                <br />

                <div class="form-field">
                  <label for="">SubES Item</label><br />

                  <!-- --------------------- provisioning -------------------------- -->

                  <select name="" id="subes_item" style="width: 177px">
                    <option value="Food" v-if="es_class === 'provisioning'">
                      Food
                    </option>
                    <option value="Water" v-if="es_class === 'provisioning'">
                      Water
                    </option>
                    <option
                      value="raw materials"
                      v-if="es_class === 'provisioning'"
                    >
                      Raw Materials
                    </option>
                    <option
                      value="Generic Resources"
                      v-if="es_class === 'provisioning'"
                    >
                      Generic Resources
                    </option>
                    <option
                      value="Medicinal resources"
                      v-if="es_class === 'provisioning'"
                    >
                      Medicinal resources
                    </option>
                    <option
                      value="Ornamental resources"
                      v-if=" es_class === 'provisioning' || es_class === 'regulating' "
                    >
                      Ornamental resources
                    </option>

                    <!-- --------------------- provisioning -------------------------- -->

                    <!-- ----------------------- regulating -------------------------- -->

                    <option
                      value="Climate Regulation"
                      v-if="es_class === 'regulating'"
                    >
                      Climate Regulation
                    </option>
                    <option
                      value="Regulation of water flows"
                      v-if="es_class === 'regulating'"
                    >
                      Regulation of water flows
                    </option>
                    <option
                      value="Moderation of extreme events"
                      v-if="es_class === 'regulating'"
                    >
                      Moderation of extreme events
                    </option>

                    <option
                      value="Waste Treatment"
                      v-if="es_class === 'regulating'"
                    >
                      Waste Treatment
                    </option>
                    <option
                      value="Erosion Prevention"
                      v-if="es_class === 'regulating'"
                    >
                      Erosion Prevention
                    </option>
                    <option
                      value="Maintenance of soil fertility"
                      v-if="es_class === 'regulating'"
                    >
                      Maintenance of soil fertility
                    </option>

                    <option
                      value="Pollination"
                      v-if="es_class === 'regulating'"
                    >
                      Pollination
                    </option>

                    <option
                      value="Boilogical Control"
                      v-if="es_class === 'regulating'"
                    >
                      Boilogical Control
                    </option>

                    <!-- ----------------------- regulating -------------------------- -->

                    <!-- ----------------------- supporting -------------------------- -->

                    <option
                      value="Maintenance of life cycles"
                      v-if="es_class === 'supporting'"
                    >
                      Maintenance of life cycles
                    </option>

                    <option
                      value="Maintenance of generic diversity"
                      v-if="es_class === 'supporting' || es_class === 'cultural' "
                    >
                      Maintenance of generic diversity
                    </option>
                    <!-- ----------------------- supporting -------------------------- -->

                    <!-- ----------------------- cultural -------------------------- -->

                    <option
                      value="Opportunities for recreation and tourism"
                      v-if="es_class === 'cultural'"
                    >
                      Opportunities for recreation and tourism
                    </option>

                    <option
                      value="Inspiration for culture, art and design"
                      v-if="es_class === 'cultural'"
                    >
                      Inspiration for culture, art and design
                    </option>

                    <option
                      value="Inspiration for culture, art and design"
                      v-if="es_class === 'cultural'"
                    >
                      Spiritual experience
                    </option>

                    <option
                      value="Information for cognitive development"
                      v-if="es_class === 'cultural'"
                    >
                      Information for cognitive development
                    </option>

                    <option
                      value="Existence, bequest values"
                      v-if="es_class === 'cultural'"
                    >
                      Existence, bequest values
                    </option>

                    <!-- ----------------------- cultural -------------------------- -->
                  </select>

                  <br />

                  <label for="">SubES Name</label><br />
                  <input type="text" id="subes_name" /><br />

                  <label for="">SubES Quantity</label><br />
                  <input type="text" id="subes_quantity" /><br />

                  <label for="">SubES Quantity Unit</label><br />
                  <input type="text" id="subes_quantity_unit" /><br />

                  <div>
                    <label for="">SubES Value</label><br />
                    <input type="text" id="subes_value" /><br />
                  </div>

                  <label for="">SubES Value Unit</label><br />
                  <input type="text" id="subes_value_unit" /><br />

                  <label for="">SubES Validation</label><br />
                  <input type="text" id="subes_validation" /><br />
                </div>
              </div>

              <br />
              <button>Add Item</button>
            </form>
          </div>

          <!-- ----------------------- Add form --------------------- -->

          <!-- ----------------------- Edit Form -------------------- -->
          <div id="edit_form_class">
            <h3>Edit Form</h3>

            <form v-on:submit.prevent="edit">
              <div>
                <div>
                  <input type="hidden" id="edit_id" /><br />

                  <label for="">SubES Item</label><br />

                  <!-- --------------------- provisioning -------------------------- -->

                  <select name="" id="edit_subes_item" style="width: 177px">
                    <option value="Food" v-if="es_class === 'provisioning'">
                      Food
                    </option>
                    <option value="Water" v-if="es_class === 'provisioning'">
                      Water
                    </option>
                    <option
                      value="raw materials"
                      v-if="es_class === 'provisioning'"
                    >
                      Raw Materials
                    </option>
                    <option
                      value="Generic Resources"
                      v-if="es_class === 'provisioning'"
                    >
                      Generic Resources
                    </option>
                    <option
                      value="Medicinal resources"
                      v-if="es_class === 'provisioning'"
                    >
                      Medicinal resources
                    </option>
                    <option
                      value="Ornamental resources"
                      v-if=" es_class === 'provisioning' || es_class === 'regulating' "
                    >
                      Ornamental resources
                    </option>

                    <!-- --------------------- provisioning -------------------------- -->

                    <!-- ----------------------- regulating -------------------------- -->

                    <option
                      value="Climate Regulation"
                      v-if="es_class === 'regulating'"
                    >
                      Climate Regulation
                    </option>
                    <option
                      value="Regulation of water flows"
                      v-if="es_class === 'regulating'"
                    >
                      Regulation of water flows
                    </option>
                    <option
                      value="Moderation of extreme events"
                      v-if="es_class === 'regulating'"
                    >
                      Moderation of extreme events
                    </option>

                    <option
                      value="Waste Treatment"
                      v-if="es_class === 'regulating'"
                    >
                      Waste Treatment
                    </option>
                    <option
                      value="Erosion Prevention"
                      v-if="es_class === 'regulating'"
                    >
                      Erosion Prevention
                    </option>
                    <option
                      value="Maintenance of soil fertility"
                      v-if="es_class === 'regulating'"
                    >
                      Maintenance of soil fertility
                    </option>

                    <option
                      value="Pollination"
                      v-if="es_class === 'regulating'"
                    >
                      Pollination
                    </option>

                    <option
                      value="Boilogical Control"
                      v-if="es_class === 'regulating'"
                    >
                      Boilogical Control
                    </option>

                    <!-- ----------------------- regulating -------------------------- -->

                    <!-- ----------------------- supporting -------------------------- -->

                    <option
                      value="Maintenance of life cycles"
                      v-if="es_class === 'supporting'"
                    >
                      Maintenance of life cycles
                    </option>

                    <option
                      value="Maintenance of generic diversity"
                      v-if="es_class === 'supporting' || es_class === 'cultural' "
                    >
                      Maintenance of generic diversity
                    </option>
                    <!-- ----------------------- supporting -------------------------- -->

                    <!-- ----------------------- cultural -------------------------- -->

                    <option
                      value="Opportunities for recreation and tourism"
                      v-if="es_class === 'cultural'"
                    >
                      Opportunities for recreation and tourism
                    </option>

                    <option
                      value="Inspiration for culture, art and design"
                      v-if="es_class === 'cultural'"
                    >
                      Inspiration for culture, art and design
                    </option>

                    <option
                      value="Inspiration for culture, art and design"
                      v-if="es_class === 'cultural'"
                    >
                      Spiritual experience
                    </option>

                    <option
                      value="Information for cognitive development"
                      v-if="es_class === 'cultural'"
                    >
                      Information for cognitive development
                    </option>

                    <option
                      value="Existence, bequest values"
                      v-if="es_class === 'cultural'"
                    >
                      Existence, bequest values
                    </option>

                    <!-- ----------------------- cultural -------------------------- -->
                  </select>

                  <br />

                  <label for="">SubES Name</label><br />
                  <input type="text" id="edit_subes_name" /><br />

                  <label for="">SubES Quantity</label><br />
                  <input type="text" id="edit_subes_quantity" /><br />

                  <label for="">SubES Quantity Unit</label><br />
                  <input type="text" id="edit_subes_quantity_unit" /><br />

                  <div>
                    <label for="">SubES Value</label><br />
                    <input type="text" id="edit_subes_value" /><br />
                  </div>

                  <label for="">SubES Value Unit</label><br />
                  <input type="text" id="edit_subes_value_unit" /><br />

                  <label for="">SubES Validation</label><br />
                  <input type="text" id="edit_subes_validation" /><br />
                </div>
              </div>

              <br />
              <button>Edit Item</button>
            </form>
          </div>

          <!-- ----------------------- Edit Form -------------------- -->
        </div>

        <!-- ----------------------------------- table --------------------------------------------- -->

        <br />
        <table style="width: 100%">
          <tr>
            <th style="border: 1px solid red">ES Class</th>
            <th style="border: 1px solid red">SubES Item</th>
            <th style="border: 1px solid red">SubES Name</th>
            <th style="border: 1px solid red">SubES Quantity</th>
            <th style="border: 1px solid red">SubES Quantity Unit</th>
            <th style="border: 1px solid red">SubES Value</th>
            <th style="border: 1px solid red">SubES Value Unit</th>
            <th style="border: 1px solid red">SubES Validation</th>
            <th style="border: 1px solid red">Remove item</th>
            <th style="border: 1px solid red">Edit item</th>
          </tr>

          <tr v-for="(item,index) in fullData" :key="item.subes_item">
            <td style="border: 1px solid red">{{ es_class }}</td>
            <td style="border: 1px solid red">{{ item.subes_item }}</td>
            <td style="border: 1px solid red">{{ item.subes_name }}</td>
            <td style="border: 1px solid red">{{ item.subes_quantity }}</td>
            <td style="border: 1px solid red">
              {{ item.subes_quantity_unit }}
            </td>
            <td style="border: 1px solid red">{{ item.subes_value }}</td>
            <td style="border: 1px solid red">{{ item.subes_value_unit }}</td>
            <td style="border: 1px solid red">{{ item.subes_validation }}</td>
            <td style="border: 1px solid red">
              <button v-on:click="removeItem(index)">Remove Item</button>
            </td>

            <td style="border: 1px solid red">
              <button v-on:click="editItem(index)">Edit Item</button>
            </td>
          </tr>
        </table>

        <!-- ----------------------------------- table --------------------------------------------- -->

        <!-- --------------------------------- edit form ------------------------------ -->

        <br />

        <!-- --------------------------------- edit form ------------------------------ -->
      </div>
    </div>
  </body>

  <script src="script.js"></script>
</html>
